App/.idea/gradle.xml
App/app/app.iml
App/.idea/modules.xml
App/App.iml
Hitch/.idea/gradle.xml
Hitch/app/app.iml
Hitch/.idea/modules.xml
Hitch/Hitch.iml
App/.idea/gradle.xml
App/.idea/gradle.xml
App/.idea/misc.xml